<head>
    {% block css_block %}{% endblock %}
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css" rel="stylesheet" /> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-dream-pulse.css' %}">
<!-- 
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://cdn.tiny.cloud/1/elqtrl3c4kvucnfj4vz0yjnkpgd62kzfmz0cvn7zoxxa2089/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

     -->
    <!-- <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css.map' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css.map' %}"> -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/templatemo-scripts.js' %}"></script>




<!-- 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
     -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js.map' %}"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js.map' %}"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script> -->

<!-- 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/main.js' %}"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.js.map' %}"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js.map' %}"></script> -->

    <title>{% block title %} Pivotora {% endblock %}</title>
    <link rel = "icon" href =  
        "{% static 'img/logo.png' %}" 
    type = "image/x-icon"> 
</head>
